body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #282c34;
  color: #fff;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.color-blue {
  color: #00bcf2;
  font-size: 1.5rem;
}
footer {
  text-align: center;
}

button {
  background-color: #00bcf2;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 15px;
}
button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.morpion {
  width: 300px;
  height: 280px;
  background-color: rgb(225, 225, 225);
  border-radius: 2px 2px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #282c34;
  font-weight: bold;
}


table{
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
    display: none;
}
table td{
    width: 80px ; 
    height: 80px;
    border : 2px solid #000;
    font-size : 2rem;
    align-items: center;
    background-color: #00bcf2;
    cursor: pointer;
}


.parametre{
display: flex;
justify-content: space-around;
}

.parametre>div{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding : 5px;
    flex-wrap: wrap;
}
@media(max-width :700px ){
    
    .resultat{
    left: 30%;
    }
}

.bouge{
    animation: bouge 0.5s 1;
    display: block;
}

@keyframes bouge{
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(200px);
    }
}




.resultat{
  width  : 300px ; 
  height  : 30px;
  background-color: rgb(225,225,225);
  border-radius : 0px 0px 5px 5px;
  text-align: center;
  font-size : 1rem;
  color : #00BCF2
}

.restart , .menu{
  display: none;
}